// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

ul,
li {
  list-style: none;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3350;
  padding-top: 5 rem;
  background-color: $color-secondary;
  min-height: 1280px;
}

.form {
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;

  input {
    width: 100%;
  }
}

.event-card {
  border: 2px solid #2c3e50;
  margin-top: 2rem;
  border-radius: 4px;
  font-weight: 500;
}
