// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.signout-btn {
  position: absolute;
  text-align: right;
  top: 60px;
  right: 40px;
}
